body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 0.8em; /* Smaller font size */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px; /* Set the height of the footer */
}

.chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chat-button {
    background-color: #1e75c7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-container {
    position: fixed;
    bottom: 70px; /* Adjusted bottom position */
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hide the chat container */
}

.chat-header {
    padding: 10px;
    background-color: #1e75c7;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.chat-messages {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

.user-message {
    justify-content: flex-end;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.bot-message {
    justify-content: flex-start;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.chat-input {
    border: none;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

.user-bubble {
    background-color: #1e90ff;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-right: 5px;
}

.bot-bubble {
    background-color: #e8f5e9;
    color: #000;
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}

.bot-avatar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4CAF50;
    flex-shrink: 0;
    background-image: url("../images/bot_image.jpg");;
    background-size: cover;
}
